body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-of-page {
    background-color: white;
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: 900;
    letter-spacing: 2px;
}

.content {
    margin-top: 100px;
}

.post {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.post-heading {
    width: 100%;
    display: flex;
    align-items: center;
}

.heading-left {
    display: flex;
    align-items: center;
    width: 95%;
}

a {
    text-decoration: none;
    color: inherit;
}

.user-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: slategrey;
}

.user-icon i {
    font-size: 1.8em;
    color: white;
    position: relative;
    right: -5px;
    top: 8px;
}

.username {
    margin-left: 10px;
    font-weight: 600;
}

.username a:hover, .view-comments a:hover, a[class="album-link"]:hover {
    text-decoration: underline;
}

.reposted {
    margin-left: 10px;
    font-size: 0.9em;
    color: grey;
}

.reposted i {
    margin-right: 3px;
}

.post-date {
    color: gray;
}

.post-image {
    width: 500px;
    height: 500px;
    background-color: darkslategrey;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.post-comment {
    width: 500px;
}

.album-link {
    font-weight: bold;
    color: darkblue;
}

.post-icons i {
    font-size: 1.5em;
    margin-left: 3px;
}

.view-comments {
    color: gray;
    font-size: 0.9em;
}

